/* mobile */


/* ----  UNIVERSAL  ---- */

@font-face {
  font-family: "Cotham Sans";
  src: url(./assets/fonts/CothamSans.otf);
}

@font-face {
  font-family: "BagnardSans";
  src: url(.assets/fonts/BagnardSans.otf);
}


html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #b8b2ad;
  font-family: 'Roboto', sans-serif;
  font-size: 0.7em;
  line-height: 1em;
  text-align: justify;
  background-image: url(./assets/img/background2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

body.portfolio {
  background-image: url(./assets/img/portbackground.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}




/* ----  ACCESSIBILITY  ---- */

/* visually hides content meant for screen-readers */
.sr-only {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}

/* removes all animations and transitions for people that prefer not to see them (courtesy of https://github.com/hankchizljaw/modern-css-reset) */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}



  
/* ----  TYPOGRAPHY  ---- */

h2 {
  font-family: 'BagnardSans', serif;
  display: inline-block;
  margin: 0 auto;
  font-size: 6.2em;
  font-style: italic;
  text-transform: uppercase;
  line-height: 1em;
  font-weight: 500;
  color: #f3f0ec;
}

.portfolio h2 {
  font-size: 5.5em;
}

p {
  font-size: 1.1em;
  line-height: 1.4em;
}

a {
  font-family: 'Roboto Mono', monospace;
  text-transform: uppercase;
  color: #f3f0ec;
  text-decoration: none;
  font-size: 1.2em;
}

a:hover {
  font-style: italic;
}

.nav-container a {
  margin: 0 40px 0 0;
  color: #f3f0ec;
  text-decoration: none;
  font-size: 2.5em;
  line-height: 4em;
}

a.menu-icon {
  position: absolute;
  right: 20px;
  top: 28px;
}

a.menu-icon.responsive {
  position: absolute;
  right: 20px;
  top: 25px;
}

a#logo {
  position: relative;
  left: 20px;
  color: #f3f0ec;
  font-size: 3em;
  font-family: "BagnardSans", georgia, serif;
  font-weight: 400;
  line-height: 0;
  text-align: left;
}

.about a.about-text-link {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  color: #131313;
}

.about a.social-link {
  text-transform: uppercase;
  font-size: 1em;
  letter-spacing: 0.1em;
  box-sizing: border-box;
  padding: 20px 10px;
  color: #000000;
}

a.pIntro-links {
  font-size: 1.2em;
  line-height: 3em;
  color: #1a1a1a;
}

a.p-link {
  margin: 0 auto;
  color: #000000;
  line-height: 2em;
  font-size: 1em;

}

.contact a.social-link {
  color: #292929;
  padding-top: 30px;
  padding-bottom: 30px;
}

.material-icons {
  color: #f3f0ec;
}

.material-icons.md-48 { 
  font-size: 48px; 
}

.landing-heading {
  font-family: "BagnardSans", georgia, serif;
  font-size: 7em;
  font-weight: 500;
  text-align: center;
  padding-left: 10px;
  text-transform: uppercase;
  font-style: italic;
  line-height: 1.2em;
  letter-spacing: 0.1em;
  color: #ffffff;
  text-shadow: 1px 1px 1px #8a7b6f4b;
}

.landing-subheading { 
  font-family: "Cotham Sans", Arial, Helvetica, sans-serif;
  font-size: 0.9em;
  line-height: 1.8em;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  word-spacing: 0.2em;
  letter-spacing: 0.3em;
  text-shadow: 1px 1px 1px #74685fc9;
  color: #ffffff;
  transform: scale(0.94);
  animation: scale 6s forwards cubic-bezier(0.5, 1, 0.89, 1);
}

.landing-link {
  color: #ffffff;
  font-size: 1em;
  letter-spacing: 0.1em;
  word-spacing: 0.2em;
}

.pIntro-heading { 
  line-height: 1em;
}

.pIntro-text {
  margin-top: 15px;
  margin-bottom: 20px;
  padding: 0;
  line-height: 1.5em;
}

ul.contact-form {
  list-style-type: none;
  padding: 0;
  margin: 0;
}





/* ----  CONTAINERS  ---- */


/* -- NAV -- */
.main-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  overflow: hidden;
  position: fixed;
  padding-bottom: 20px;
  z-index: 999;
}

.nav-container {
  background-color: #ac9d8c;
  background-image: url(./assets/img/background2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0 auto;
  display: none;
  width: 100%;
  height: 100vh;
  list-style: none;
  text-align: center;
}

.nav-container.responsive {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}

.home .main-header {
  display: none;
}





  

/* -- LANDING PAGE -- */
main.flex-x {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

#landing {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.landing-cta {
  width: 350px;
  display: flex;
  flex-direction: column;
  margin-top: 230px
}

.link-box {
  margin-top: 40px;
  background-color: #aa9a8dcc;
  padding: 10px 10px 10px 10px;
  box-shadow: 1px 1px 1px #beb6ae;
  border-radius: 5px;
  width: 150px;
  text-align: center;
}





/* -- ABOUT PAGE -- */
#about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
}

.avatar-container {
  display: none;
}

.about-text {
  padding: 0px 30px 0 30px;
}

.social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 200px;
}

.about-text2 {
  padding: 5px 15px;
  margin: 10px 0;
  border-radius: 10px;
}




/* -- PORTFOLIO PAGE -- */
.portfolio .main-header {
  background-image: url(./assets/img/ting.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 100px;
}

#portfolio-intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  box-sizing: border-box;
  margin: 170px auto 250px auto;
  padding: 0;
  background-image: none;
  overflow-x: hidden;
}

.portfolio-info {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 30px 30px 30px;
}

.pIntro-menu {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.portfolio-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 95%;
  margin: 0 auto;
  padding-top: 20px;
}

.card-container {
  background-color: #ffffff;
  box-shadow: rgba(48, 48, 48, 0.25) 0px 6px 12px -2px, rgba(17, 17, 17, 0.3) 0px 3px 7px -3px;
  border-radius: 2%;
}


.p-link-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-bottom: 15px;
}


  
/* -- CONTACT PAGE -- */
#contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 180px;
  padding: 0;
}

#form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}





/* -- MEDIA -- */
.p-img {
  display: block;
  image-rendering: smooth;
  filter: contrast(80%);
  border-radius: 5px;
  width: 100%;
}

.p-img.pending {
  filter: contrast(110%);
}

@keyframes scale {
  100% {
    transform: scale(1);
  }
}

span {
  display: inline-block;
  opacity: 0;
  filter: blur(2px);
}

span:nth-child(1) {
  animation: fade-in 1.1s 0.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(2) {
  animation: fade-in 1.1s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(3) {
  animation: fade-in 1.1s 0.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

@keyframes fade-in {
  100% {
    opacity: 1;
    filter: blur(0);
  }
}

#form-container input[type=email], textarea {
  width: 300px;
  margin-top: 15px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
  border: 0.2px solid #c5bdb4;
  background-color: #f3f0ecb9;
  box-shadow: 1px 1px 1px rgba(184, 176, 176, 0.91);
  color: #494949;
  opacity: 1; 
  text-align: center;
  font-size: 1em;
  font-weight: 500;
  font-family: 'Roboto Mono', monospace;
  text-transform: uppercase;
} 

#form-container input[type=email]:focus {
  border: 2px solid #4b4540 !important;
  box-shadow: 0 0 2px #4b4540  !important;
  outline-offset: 0px !important;
  outline: none !important;
}
  
#form-container textarea:focus {
  border: 2px solid #4b4540  !important;
  box-shadow: 0 0 2px #4b4540  !important;
  outline-offset: 0px !important;
  outline: none !important;
}

#form-container select:focus {
  outline-offset: 0px !important;
  outline: none !important;
}

#form-container input[type=email] {
  height: 20px;
}

#form-container textarea {
  height: 25px;
}

#form-container ::placeholder { 
  color: #756e65;
  opacity: 1; 
  text-align: center;
  font-size: 1.2em;
  font-weight: 500;
}

#form-container textarea::placeholder {
  color: #756e65;
  opacity: 1; 
  text-align: center;
  font-size: 1.2em;
  font-weight: 500;
  padding-top: 5px;
}

#form-container textarea:focus::placeholder {
  color: transparent;
}

#form-container input:focus::placeholder {
  color: transparent;
}

#form-container button#submit {
  display: block;
  width: 300px;
  margin: 15px auto;
  padding: 10px 30px;
  margin-top: 15px;
  border: none;
  transition: box-shadow 0.4s;
  border: 0.2px solid #c5bdb4;
  box-shadow: 1px 1px 1px rgba(184, 176, 176, 0.91);
  border-radius: 10px;
  background-color: #d8d2cdd7;
  color: #756e65;
  text-decoration: none;
  text-align: center;
  font-size: 1.2em;
  font-weight: 500;
  font-family: 'Roboto Mono', monospace;
  text-transform: uppercase;
}

#form-container label {
  line-height: 0.2em;
  visibility: hidden;
}
  


  


/* tablet max width: 1030px */

@media (min-width: 768px) { 


  /* primary header and nav */
  .main-header {
    width: 100%;
    height: 10%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    padding-top: 20px;
    padding-bottom: 50px;
  }

  .nav-container {
    background-image: none;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    width: 100%;
    height: 15%;
    padding: 0 15px;
  }

  .home .nav-container {
    background-color: transparent;
  }

  .contact .nav-container {
    background-image: none;
    background-color: transparent;
  }

  .portfolio .nav-container {
    padding-top: 5px;
  }

  .nav-container a {
    margin: 0;
    padding-right: 15px;
    padding-left: 20px;
    font-size: 2.3em;
    line-height: 1em;
    font-weight: 600;
    text-align: right;
  }

  .contact .nav-container a {
    color: #f3f0ec;
  }

  a.menu-icon {
    display: none;
  }

  a#logo {
    padding-top: 0;
    padding-left: 0;
    font-size: 4em;
  }

  h2 {
    font-size: 9em;
  }

  .portfolio h2 {
    font-size: 9em;
  }

  a {
    font-size: 1.9em;
  }

  p {
    font-size: 1.7em;
    line-height: 1.4em;
  }

  #landing {
    width: 100%;
    padding: 0;
  }

  .landing-cta {
    width: 100%;
    padding: 0;
    margin: 400px auto 0 auto;
  }

  .landing-heading {
    padding: 0;
    margin: 0 auto;
    font-size: 11em;
    line-height: 1em;
  }

  .landing-subheading {
    padding: 0;
    margin: 0 10px 0 0;
    font-size: 1.5em;
    line-height: 1em;
    word-spacing: 0.01em
  }

  .link-box {
    width: 200px;
    padding: 20px 15px 15px 15px;
    margin-top: 80px;
    background-color: #b4a496bb;
  }

  a.landing-link {
    font-size: 1.3em;
    letter-spacing: 0.3em;
    font-weight: 400;
  }




  /* about styling */
  #about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
  }
  
  .about-text {
    padding: 0px 90px;
  }
  
  .social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 400px;
  }
  
  .about-text2 {
    background-color: #e0dcd5c2;
    padding: 20px 40px;
    margin: 40px 0;
    border-radius: 10px;
  }

  .about a.social-link {
    padding-top: 10px;
    color: #353535;
    font-size: 1.4em;
  }





  /* portfolio styling */
  #portfolio-intro {
    width: 85%;
    padding: 150px 0;
  }

  .pIntro-text {
    margin-top: 15px;
    margin-bottom: 20px;
    box-sizing: border-box;
    padding: 10px 50px;
  }

  .pIntro-menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 50px;
  }

  a.pIntro-links {
    font-size: 2em;
    line-height: 3em;
  }

  a.p-link {
    padding-left: 20px;
    padding-right: 20px;
    line-height: 2em;
    font-size: 1.8em;
  }

  
  #contact-container {
    margin-top: 200px;
  }

  #form-container input[type=email], textarea {
    width: 500px
  }

  #form-container ::placeholder { 
    font-size: 1.3em;
  }
  
  #form-container textarea::placeholder {
    font-size: 1.3em;
    font-family: 'Roboto Mono', monospace;
    text-transform: uppercase;
  }

  #form-container button#submit {
    width: 510px;
    font-size: 1.3em;
    font-family: 'Roboto Mono', monospace;
    text-transform: uppercase;
  }
  
}


  

  



/* desktop max-width: none */

@media (min-width: 1030px) {

  .main-header {
    height: 30px;
    width: 100%;
    margin: 0 auto;
  }

  .home .main-header {
    display: none;
  }

  /* universal styling */
  h2 {
    display: block;
    margin: 0 auto;
    font-size: 8em;
    color: #f5f5f5;
  }
  
  .portfolio h2 {
    font-size: 8em;
  }

  a {
    font-size: 1.2em;
  }

  .nav-container a {
    margin: 0;
    padding: 0 20px 0 20px;
    font-weight: 400;
  }
  
  a#logo {
    margin: 0;
  }

  p {
    line-height: 1.3em;
    font-size: 1.3em;
  }



  

  /* primary header and nav */
  .nav-container a:hover {
    font-style: normal;
    line-height: 0.8em;
    font-weight: 600;
    text-decoration-line: underline;
    text-decoration-color: #e9c4abd5;
  }

  #logo a:hover {
    font-style: oblique;
  }




  

  /* home page landing */

  #landing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 250px;
  }

  .landing-cta {
    margin: 0 auto;
    width: 100%;
  }

  .landing-heading {
    width: 100%;
    margin: 50px auto 0 auto;
    padding: 0;
    font-size: 15em;
    text-align: center;
    color: #f5f5f5;
    text-shadow: 1px 0px 1px #6d69648f;
  }

  .landing-subheading {
    margin: 0 auto;
    width: 100%;
    padding: 15px 0 0 0;
    line-height: 0em;
    font-size: 1.3em;
    font-weight: 700;
    text-align: center;
    color: #f5f5f5;
    text-shadow: 1px 0px 1px #5e5b5793;
  }

  .link-box {
    margin-top: 80px;
    background-color: #b6a79cd3;
    padding: 20px;
    box-shadow: 1px 1px 1px #beb6ae;
    border-radius: 5px;
    width: 200px;
    text-align: center;
  }

  .link-box:hover {
    background-color: #c9bcb2d3;
    box-shadow: 1px 1px 1px #beb6ae;
  }


  

  /* about: styling */
  #about-container {
    width: 100%;
    height: 100%;
    margin-top: 120px;
    margin-bottom: 0;
    padding: 0;
  }

  .about-heading {
    margin: 0 auto 40px auto;
  }

  .about-info {
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    align-items: baseline;
    width: 650px;
    background-color: #e9e7e3dc;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 20px 50px 0 20px;
  }

  .avatar-container {
    display: block;
    height: 120px;
    width: 210px;
    background-image: none;
    margin-right: 80px;
    padding: 0;
  }

  .about-img {
    display: block;
    width: 160px;
    height: 190px;
    margin: 0 50px 0 0;
    image-rendering: auto;
    border-radius: 50%;
  }

  .about-text {
    width: 70%;
    margin: 20px 0 0 0;
    padding: 30px 0 0 0;
    text-align: left;
  }

  .about-text2 {
    background-color: transparent;
    width:540px;
    margin-top: 50px;
    padding: 10px 15px 0 35px;
  }

  a.about-text-link {
    font-size: 1em;
    font-family: 'Roboto', serif;
  }

  a.about-text-link:hover {
    font-weight: 600;
  }

  .about .social {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 15px;
  }

  .about a.social-link {
    padding: 5px 0;
    color: #292929;
    text-align: center;
  }




  /* portfolio: styling */
  .portfolio .main-header {
    background-image: none;
    display: flex;
    justify-content: space-between;
    height: 30px;
    width: 100%;
    margin: 0 auto;
    padding-top: 30px;
    overflow: hidden;
    position: fixed;
  }
  
  .portfolio .nav-container {
    background-image: none;
    margin: 0 auto;
    padding-top: 0;
    width: 85%;
    height: 100vh;
  }

  #portfolio-intro {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 40%;
    margin: 130px auto;
    box-sizing: border-box;
  }

  .pIntro-heading { 
    margin: 0 auto 30px auto;
    line-height: 1em;
  }

  .portfolio-info {
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e9e9e8f8;
    border-radius: 10px;
    padding: 20px 30px 30px 30px;
  }

  .pIntro-text {
    margin-top: 15px;
    margin-bottom: 20px;
    padding: 0;
    line-height: 1.5em;
  }

  .pIntro-menu {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
  }

  a.pIntro-links {
    font-size: 1.5em;

  }

  .portfolio-container {
    width: 80%;
  }

  #business {
    height: 95vh;
  }

  .p-img {
    margin: 0 auto;
  }
  
  .p-link-container {
    margin: 0 auto;
    padding-top: 15px;
  }
  
  a.p-link {
    font-size: 1.3em;
  }
  

  a.p-link:hover {
    padding-left: 0;
    padding-right: 0;
    box-sizing: initial;
    line-height: 2em;
    font-size: 1.3em;
    color: #000;
    font-style: italic;
    font-weight: 500;
    text-decoration-line: underline;
    text-decoration-color: #e9c4abd5;
  } 
  
  


  
  

  /* contact: styling */

  #contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 180px;
    line-height: 1.1em;
  }

  .contact-heading {
    padding-bottom: 30px;
    line-height: 1em;
  }

  .contact a.social-link {
    margin-bottom: 0;
  }

  #form-container input[type=email], textarea {
    width: 500px;
  }

  #form-container textarea {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  
  ::placeholder {
    font-size: 1.2em;
  }
  
  button#submit {
    display: block;
    width: 200px;
    margin: 25px auto;
    font-size: 1.2em;
    cursor: pointer;
  }

  button#submit:hover {
    box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.199); 
  }
}


